@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
  
ul, ol {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: unset;
}
  
textarea,
input {
    outline: none;
}
  
button {
    border: none;
    outline: none;
}