.textarea {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 100%;
    overflow: scroll;
    resize: none;
    min-height: 86px;
    max-height: 200px;
    border-color: var(--input-border);
    transition: border-color 0.3s ease;

    &Active,
    &:focus {
        border-color: var(--input-active);
    }

    &Error {
        border-color: var(--input-error);
    }
}

.error::placeholder,
.error {
    color: var(--input-error);
}
