.btn {
    padding: 6px 12px;
    height: 39px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bordered {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
